<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="codeArt.domainDriven.dataAccess" type="CodeArt.DomainDriven.DataAccess.DataAccessConfiguration, CodeArt.DomainDriven.DataAccess"/>
  </configSections>
  <connectionStrings>
    <add name="db-default" connectionString="server=127.0.0.1;database=AccountSubsystem;uid=sa;pwd=qjs_Q!1;" />
  </connectionStrings>
  
  
  <codeArt.domainDriven.dataAccess>
    <agent implementType="CodeArt.DomainDriven.DataAccess.SQLServerAgent,CodeArt.DomainDriven.DataAccess" />
  </codeArt.domainDriven.dataAccess>
</configuration>