<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="codeArt" type="CodeArt.Configuration, CodeArt"/>
    <section name="codeArt.serviceModel" type="CodeArt.ServiceModel.ServiceModelConfiguration, CodeArt.ServiceModel"/>
  </configSections>
  <connectionStrings>
    <add name="db-default" connectionString="server=127.0.0.1;database=DomainDriven;uid=sa;pwd=qjs_Q!1;" />
  </connectionStrings>

  <codeArt>
    <authentication>
      <identity name="caTest" />
    </authentication>
  </codeArt>
  
  <codeArt.serviceModel>
    <client>
      <!--<proxy implementType="CodeArt.ServiceModel.WebServiceProxy,CodeArt.ServiceModel.Web"></proxy>-->
      <router>
        <!-- 可以为不同的服务命名空间定义多个路由地址 -->
        <!--<add namespce="d" address="http://adapter0.services.codeart.cn/host" />-->
        <add address="http://adapter0.services.codeart.cn/host" />
        <add address="http://adapter1.services.codeart.cn/host" />
      </router>
      <direct>
        <add name="d:GetUser" address="http://test.services.codeart.cn/host" />
        <add name="UpdateUser" address="http://test.services.codeart.cn/host" />
        <add name="CreateUser" address="http://test.services.codeart.cn/host" />
        <add name="DeleteUser" address="http://test.services.codeart.cn/host" />
      </direct>
    </client>
  </codeArt.serviceModel>

</configuration>