.qa--paper {
    padding: 0px !important;
}

.qa--question {
    margin-bottom: 0.7rem;
}

    .qa--question label.col-form-label {
        font-weight: 400;
        color: #3f4047;
        font-size: 1.2rem;
        line-height:2rem;
    }


    .qa--question .form-control {
        font-size: 1.2rem;
    }