<controltemplate xmlns="http://schemas.codeart.cn/web/xaml"
    xmlns:m="http://schemas.codeart.cn/web/xaml/metronic">
<div class="{TemplateBinding Class}" style="{TemplateBinding Style}" data-name='coreContainer'>
    <ContentPresenter Content="{TemplateBinding Before}" />
    <form data-name="edit-files" class="edit-files" action="{TemplateBinding Parent.Target}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="folderId" />
	    <div class="row fileupload-buttonbar">
		    <div class="col-lg-7">
			    <span class="btn btn-sm green fileinput-button">
			    <i class="fa fa-plus"></i>
			    <span>选择文件... </span>
			    <input type="file" name="files[]" multiple="">
			    </span>
			    <button type="submit" class="btn btn-sm blue start">
			    <i class="fa fa-upload"></i>
			    <span>开始上传 </span>
			    </button>
			    <button type="reset" class="btn btn-sm red cancel">
			    <i class="fa fa-ban"></i>
			    <span>移除文件 </span>
			    </button>
			    <button type="button" class="btn btn-sm purple fileinput-disk">
			    <i class="fa fa-folder-open"></i>
			    <span>从文件空间中选择 </span>
			    </button>
			    <span class="fileupload-process">
			    </span>
		    </div>
		    <div class="col-lg-5 fileupload-progress fade">
			    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
				    <div class="progress-bar progress-bar-success" style="width:0%;">
				    </div>
			    </div>
			    <div class="progress-extended">&nbsp;</div>
		    </div>
	    </div>
	    <table role="presentation" class="table table-striped clearfix">
	        <tbody class="files"></tbody>
	    </table>
    </form>
    <m:modal data-name="disk-modal" size="full" title="请选择文件">
        <m:disk id="{TemplateBinding Parent.Id,Converter={Static m:UploadDiskIdConverter.Instance}}" data-name="disk" name="disk" rootId="{TemplateBinding Parent.DiskRootId}" height="500px"></m:disk>
        <m:modal.footer>
            <m:button color="default" data-dismiss="modal">取消关闭</m:button>
        </m:modal.footer>
     </m:modal>
    <ContentPresenter Content="{TemplateBinding After}" />
</div>
<LinkCode ExternalKey="metronic:jquery.ui.widget.js" Origin="Bottom" />
<LinkCode ExternalKey="metronic:tmpl.js" Origin="Bottom" />
<LinkCode ExternalKey="metronic:load-image.js" Origin="Bottom" />
<LinkCode ExternalKey="metronic:canvas-to-blob.js" Origin="Bottom" />
<LinkCode ExternalKey="metronic:jquery.blueimp-gallery.js" Origin="Bottom" />
<LinkCode ExternalKey="metronic:jquery.iframe-transport.js" Origin="Bottom" />
<LinkCode ExternalKey="metronic:jquery.fileupload.js" Origin="Bottom" />
<LinkCode ExternalKey="metronic:jquery.fileupload-process.js" Origin="Bottom" />
<LinkCode ExternalKey="metronic:jquery.fileupload-image.js" Origin="Bottom" />
<LinkCode ExternalKey="metronic:jquery.fileupload-audio.js" Origin="Bottom" />
<LinkCode ExternalKey="metronic:jquery.fileupload-video.js" Origin="Bottom" />
<LinkCode ExternalKey="metronic:jquery.fileupload-validate.js" Origin="Bottom" />
<LinkCode ExternalKey="metronic:jquery.fileupload-ui.js" Origin="Bottom" />
<LinkCode ExternalKey="metronic:input-upload.js" Origin="Bottom" />

<LinkCode ExternalKey="metronic:blueimp-gallery.min.css" Origin="Header" />
<LinkCode ExternalKey="metronic:jquery.fileupload.css" Origin="Header" />
<LinkCode ExternalKey="metronic:jquery.fileupload-ui.css" Origin="Header" />
<RawCode Origin="Bottom">
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td>
                <span class="preview"></span>
            </td>
            <td>
                <p class="name">{%=file.name%}</p>
                <strong class="error label label-danger"></strong>
            </td>
            <td>
                <p class="size">处理中...</p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
            </td>
            <td>
                {% if (!i && !o.options.autoUpload) { %}
                <button class="btn blue start btn-sm" disabled>
                    <i class="fa fa-upload"></i>
                    <span>上传</span>
                </button>
                {% } %}
                {% if (!i) { %}
                <button class="btn red cancel btn-sm">
                    <i class="fa fa-ban"></i>
                    <span>移除</span>
                </button>
                {% } %}
            </td>
        </tr>
        {% } %}
    </script>
    <script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade" data-id="{%=file.id%}" data-size="{%=file.size%}" data-name="{%=file.name%}" data-url="{%=file.url%}" data-thumbnailurl="{%=file.thumbnailUrl%}" data-extension="{%=file.extension%}" data-error="{%=file.error%}">
            <td>
                <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                    {% } else if(file.videoUrl){ %}
                    <video src="{%=file.videoUrl%}" controls=""></video>
                    {% }%}
                </span>
            </td>
            <td>
                <p class="name">
                    {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                    {% } else { %}
                    <span>{%=file.name%}</span>
                    {% } %}
                </p>
                {% if (file.error) { %}
                <div><span class="label label-danger">{%=file.error%}</span></div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td>
                {% if (file.deleteUrl) { %}
                <button class="btn red delete btn-sm" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deletewithcredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                    <i class="fa fa-trash-o"></i>
                    <span>删除</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
                {% } else { %}
                <button class="btn yellow cancel btn-sm">
                    <i class="fa fa-ban"></i>
                    <span>取消</span>
                </button>
                {% } %}
            </td>
        </tr>
        {% } %}
    </script>
</RawCode>
</controltemplate>
