<?xml version="1.0"?>
<configuration>
  <configSections>
  
  </configSections>
  <connectionStrings>
    <add name="db-default" connectionString="server=127.0.0.1;database=PortalService;uid=sa;pwd=qjs_Q!1;"/>
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8"/>
    <compilation debug="false" targetFramework="4.6.2"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="host" path="*" verb="*" type="CodeArt.ServiceModel.WebServiceHost,CodeArt.ServiceModel.Web"/>
    </handlers>
    <httpErrors errorMode="Detailed"/>
  </system.webServer>

</configuration>