<?xml version="1.0"?>
<configuration>
  <configSections>

  </configSections>
  <connectionStrings>
    <add name="db-session" connectionString="server=.;database=TestDB;uid=sa;pwd=qjs_Q!1;"/>
  </connectionStrings>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
  <system.web>
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8"/>
    <compilation debug="true" targetFramework="4.7">
      <buildProviders>
        <remove extension=".js"/>
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="htm" path="*.htm" verb="*" type="System.Web.HttpForbiddenHandler"/>
      <add name="css" path="*.css" verb="*" type="System.Web.HttpForbiddenHandler"/>
      <add name="js" path="*.js" verb="*" type="System.Web.HttpForbiddenHandler"/>
    </handlers>
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="500" subStatusCode="-1"/>
    </httpErrors>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="content-type"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>